node_modules/
out/
.vscode-test/
*.log
.DS_Store
input.txt
inputs/
node_modules/
out/
.vscode-test/
*.log
.DS_Store
input.txt
inputs/
*.js.map
node_modules/
out/
.vscode-test/
*.log
.DS_Store
input.txt
inputs/
*.js.map
*.js
*.d.ts
*.tsbuildinfo
